<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <style>
        label {
            display: block;
        }
    </style>
</head>
<body>
    <h1>Admin page</h1>
    <h2>Create new match:</h2>
    <form method="post" action="/admin/matches">
        <label>
            <span>Home team:</span>
            <select name="homeTeam">
                <option th:each="team : ${teams}" th:text="${team.name}" th:value="${team.countryCode}"></option>
            </select>
        </label>
        <label>
            <span>Away team:</span>
            <select name="awayTeam">
                <option th:each="team : ${teams}" th:text="${team.name}" th:value="${team.countryCode}"></option>
            </select>
        </label>
        <button>Create</button>
    </form>
</body>
</html>